[Unit]
Description=hotrod-agent-{{hotrod_agent_id}}

[Service]

Environment=HOTROD_URL={{ hotrod_agent_server_url }}
{% if hotrod_agent_id is defined and hotrod_agent_id | length > 0 -%}
    Environment=HOTROD_AGENT_ID={{ hotrod_agent_id }}
{% endif %}
{% if hotrod_agent_name is defined and hotrod_agent_name | length > 0 -%}
    Environment=HOTROD_AGENT_NAME={{ hotrod_agent_name }}
{% endif %}

Environment=HOTROD_AGENT_LISTENER={{ hotrod_agent_listen_address }}
Environment=HOTROD_PIPES_DIR={{ hotrod_agent_pipes_dir }}
Environment=HOTROD_AGENT_POLL_INTERVAL={{ hotrod_agent_poll_interval }}
{% if hotrod_agent_tags is defined and hotrod_agent_tags | length > 0 -%}
    Environment=HOTROD_AGENT_TAGS={{ hotrod_agent_tags }}
{% endif %}

{% if hotrod_agent_auto_enrollment_key is defined and hotrod_agent_auto_enrollment_key | length > 0 -%}
    Environment=HOTROD_AUTO_ENROLLMENT_KEY={{ hotrod_agent_auto_enrollment_key }}

{% elif hotrod_agent_api_key is defined and hotrod_agent_api_key | length > 0 -%}
    Environment=HOTROD_AGENT_API_KEY={{ hotrod_agent_api_key }}

{% endif -%}

User={{ hotrod_system_user }}
Group={{ hotrod_system_group }}

Restart=on-failure
ExecStart={{ hotrod_binary_system_path }} run agent \
{% if hotrod_agent_additional_cli_args | length > 0 %}
    {{ hotrod_agent_additional_cli_args }} \
{% endif%}
{% if hotrod_agent_scheduler_systemd | bool == true %}
    --systemd-pipe-scheduler \
{% elif hotrod_agent_scheduler_agent | bool == true %}
    --agent-pipe-scheduler \
{% else %}
    --agent-pipe-scheduler \
{% endif %}
    --logs-interval={{ hotrod_agent_logs_interval }} \
    --metrics-interval={{ hotrod_agent_metrics_interval }}


[Install]
WantedBy=multi-user.target